/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 1000px;
	margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border: 10px solid black; 
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

* {
	box-sizing: border-box;
}

.navbar a{
	color: gray;
	text-align: center;
	padding: 14px 16px; 
	text-decoration: none;
	font-size: 17px;
	box-sizing: border-box;
	width: 100%;
}
.header {
	border-bottom: 1px solid black;
	display: inline-block;

	padding-bottom: 60px;
	margin-top: 40px;
}
h1{
	font-size: 59px;
}
.header-left {

text-align: center;
font-family: 'Bangers', cursive;
letter-spacing: 3px;
display: inline-block;
margin: 10px;
padding: 50px;
border: 0;
vertical-align: baseline;


}
.header-right{
	display: inline-block;
	width: 50%;
	margin: 10px;
	padding: 50px;
} 

#top .left1 {

	vertical-align: baseline;
	display: inline-block;
	width:40%;

}

#top .right1 {

	vertical-align: baseline;
	display: inline-block;
	width: 40%;
}

.middle-img {
width:100%;
}

#bottom .left2 {

	vertical-align: baseline;
	display: inline-block;
	width: 33%;
}

#bottom .middle2 {

	vertical-align: baseline;
	display: inline-block;
	width: 33%;
}

#bottom .right2 {

	vertical-align: baseline;
	display: inline-block;
	width: 33%;
}
.copyright {
	text-align: center;
	width: 100%;
}
button {
background-color:white;
padding: 10px 15px;
}